<div class="flight-info">
    <br>
    <p>Flight from <%= get_airport_code(flight.departure_airport_id) %> to <%= get_airport_code(flight.arrival_airport_id) %></p>
    <p>Flight duration: <%= flight.duration %></p>
    <p>Flight starting-time: <%= flight.start %></p>
    <p>Flight landing-time: <%= flight.finish %></p>
    <br>
</div>