<form class="form-inline w-100">
    <%= form_with url: flights_path, method: :get do |f| %>
    <div class="form-field">
        <%= f.text_field :departure_airport, placeholder: :departure_airport%>
    </div>

    <div class="form-field">
        <%= f.text_field :arrival_airport, placeholder: :arrival_airport%>
    </div>

    <div class="form-field">
        <%= f.date_field :date_of_departure%>
    </div>

    <div class="form-field">
        <%= f.number_field :number_of_passengers, in: 1..10, step: 1, placeholder: :number_of_passengers%>
    </div>

    <%= f.submit :Search%>
    <%end%>
</form>